* {
    margin-top: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "consolas", Arial, sans-serif;
}
body {
    margin: auto;
    text-align: center;
    color: lime;
    background-image: url("/media/images/cobbleWall1.png");
    background-attachment: fixed;
}
p {
    width: 40%;
    margin: auto;
}
.rubrik{
    text-align: fixed;
    margin-bottom: 50px;
    margin-top: 25px;
}
#line {
    color: lime;
}
.banner {
    width: 100%;
    height: 100px;
    position: left;

    line-height: 75px;

    background-image: url("/media/images/skullWallDoom.png");
    background-repeat: repeat-x;
    background-size: 4%;
    background-attachment: absolute;
}
.tables {
    width: 20%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
.images {
    width: 20%;
    margin-bottom: 50px;
    margin-top: 50px;
}