* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Consolas", "Courier New", monospace;
}
body {
    
    background-image: url("https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif");
    background-color: black;
}
div.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
div.container {
    width: 1000px;
    height: 100%;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}
div.GridContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas: 
        "content advertisement",
        "content advertisement",
        "content advertisement";
}
div.content {
    color: lime;
    padding: 20px;
    font-size: larger;
}
div.advertisement {
    background-color: lime;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    height: 500px;
}
img.adImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
div.header {
    width: 100%;
    height: 100px;
    background-color: rgb(34, 34, 34);
    color: lime;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
div.nav {
    background-color: lime;
    height: 50px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
div.button {
    color: lime;
    background-color: rgb(34, 34, 34);
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-shadow: 0px 0px 0px black;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}
div.button:hover {
    transform: scale(1.2);
    background-color: #555;
    box-shadow: 0px 0px 5px black;
}
div.list {
    width: 1000px;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
div.item {
    height: 200px;
    width: 450px;
    background-color: lime;
    color: rgb(34, 34, 34);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}
div.item:hover {
    transform: scale(1.1);
    background-color: white;
    box-shadow: 0px 0px 5px black;
}
img.productImage {
    float: left;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
h1.productTitle {
    padding-top: 5px;
}
div.productDesc {
    padding-top: 5px;
    height: 100px;
}
p.productDesc {
    font-size: x-large;  
}
img.addToCart {
    float: right;
    height: 50px;
    width: 50px;
    padding-right: 10px;
    scale: 1;
    transition: transform 0.2s ease;
}
img.addToCart:hover {
    transform: scale(1.2);
}
div.text {
    padding: 20px;
    width: 1000px;
    height: 1000px;
    text-align: center;
    color: lime;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}
th, td {
    padding: 5px;
    border: 1px solid lime;
}
img.cartIcon {
    height: 50px;
    width: 50px;
    padding-right: 10px;
    float: right;   
}
@media screen and (max-width: 1000px) {
    div.container {
        width: 100%;
        height: 100%;
    }
    div.nav {
        width: 100%;
    }
    div.list {
        width: 100%;
    }
    div.text {
        width: 100%;
    }
    div.item {
        width: 400px;
    }
    div.GridContainer {
        grid-template-areas: 
            "content content",
            "content content",
            "content content";
    }
    div.advertisement {
        display: none;
    }
}